<div class="row row-offcanvas row-offcanvas-left" ng-controller="InstitutionsCtrl">

	<!-- sidebar -->
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<ul class="nav">
			<li>
				<accordion close-others="true">
					<accordion-group ng-repeat="institution in institutions">
					<accordion-heading>
					<span>{{institution}}</span><span class="pull-right" ng-click="deleteAll($index, institution, $event)">X</span>
				</accordion-heading>
				<div ng-repeat="account in accounts | filter: { institutionId: institution}">
					<a ng-click="setActive(account)">{{account.name}}</a>
					<a class="pull-right" ng-click="deleteAccount(account.id)">X</a>
					<hr ng-hide="$last">
				</div>
			</accordion-group>

		</accordion>
	</li>
	<li><button type="button" class="btn btn-success btn-block" ng-click="open()">
		Add Institution
	</button></li>
</ul>
</div>

<!-- main area -->
<div class="col-xs-12 col-sm-9" ng-show='active'>
	<div class="page-header">
		<h1>{{active.name}} : $ {{active.balance}}</h1>
		
	</div>
	<h2>Transactions</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Description</th>
					<th>Date</td>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions">
						<td>{{transaction.description}}</td>
						<td>{{transaction.transactionDate | date: 'hh:MM:ss dd/MM/yyyy'}}</td>
						<td>{{transaction.amount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div><!-- /.col-xs-12 main -->
</div><!--/.row-->